# exclude the YOLOv3 weights file because of large size
describe/weights/yolov3-tiny.weights
describe/weights/yolov4-tiny.weights
describe/weights/yolov3.weights
describe/response.wav
describe/__pycache__
guide/__pycache__
guide/dataset
devices/calib.json
devices/__pycache__
guide/dataset
devs_and_utils/output.avi
devs_and_utils/output1.avi
devs_and_utils/output2.avi
devs_and_utils/output4.avi
guide/video.avi
guide/output.avi
