# exclude the YOLOv3 weights file because of large size
describe/weights/yolov3-tiny.weights
describe/weights/yolov4-tiny.weights
describe/weights/yolov3.weights
describe/response.wav
describe/__pycache__
guide/__pycache__
guide/dataset
devices/calib.json
devices/__pycache__
guide/dataset
