imusensor >= 1.0.1
Jetson.GPIO >= 2.0.12
google-cloud-texttospeech >= 2.2.0
gTTS >= 2.2.1
#Pillow >= 7.0.0
requests >= 2.22.0
easydict
smbus >= 1.1.post2
playsound
pytesseract
#Not for Jetson Nano
#opencv-python >= 4.1.1
#torch >= 1.7.0
#torchvision >= 0.8.1
